.shop-container{
    padding: 10px 0px;
}
.product-container{
    border-right: 1px solid #c2c2c2a8;
}
.cart-container{
    text-align: center;
}

@media screen and (max-width: 720px) {
    #mobile-product{
        order: 2;
    }
    #mobile-cart{
        order: 1;
    }
}

@media screen and (max-width: 320px) {
    #mobile-product{
        order: 2;
    }
    #mobile-cart{
        order: 1;
    }
}