.product{
    display: flex;
    border-bottom: 1px solid #c2c2c2a8;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.product-image{
    margin-right: 5px;
}
.product-image img{
    display: block;
    width: 270px;
    max-width: 100%;
}
.product-text-contant{
    width: 70%;
}
.product-name{
    font-size: 16px;
    font-weight: 400;
    color: #2626ef;
}
.main-button{
    background: #efba33;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    width: 150px;
    height: 30px;
    border: 1px solid #333333;
    border-radius: 5px;
    cursor: pointer;
}